{% extends 'catalog/base_product.html' %}
{% load tags %}
{% block cam %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <img src="{{ object.image | media_filter }}">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.price }}<small
                        class="text-body-secondary fw-light"> rub</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ object.description }}</li>
                    <li>{{ object.owner }}</li>
                    {% if object.update_at %}
                    <li>{{ object.update_at }}</li>
                    {% else %}
                    <li>{{ object.created_at }}</li>
                    {% endif %}
                </ul>
                {% if user == object.owner or perms.catalog.can_change_description_product and perms.catalog.can_change_category_product and perms.catalog.can_change_publication_product %}
                    <a class="btn btn-outline-secondary mb-3" href="{% url 'catalog:update_product' object.pk %}"
                        role="button">Отредактировать товар</a>
                    {% if user == object.owner %}
                        <a class="btn btn-outline-danger mb-4" href="{% url 'catalog:delete_product' object.pk %}"
                            role="button">Удалить товар</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}