{% extends 'catalog/base_product.html' %}
{% load tags %}
{% block cam %}
<div class="row text-center">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    {% if object%}
                    <h4 class="my-0 font-weight-normal">Редактирование товара</h4>
                    {% else %}
                    <h4 class="my-0 font-weight-normal">Создание товара</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="row-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card-body">
                <h4 class="my-0 font-weight-normal">Версия</h4>
                {{ formset.management_form }}
                {% for form in formset.forms %}
                {{ form.as_p }}
                {% endfor %}
            </div>
        </div>
    </form>
</div>
{% endblock %}