{% extends 'catalog/base_product.html' %}
{% load tags %}
{% block cam %}
   <div class="row text-center">
        <div class="col-6">
            <div class="card mb-6 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Версия</h4>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row-3">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">
                                {% if object %}
                                Сохранить
                                {% else %}
                                Создать
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
   </div>
{% endblock %}